   <!--
    File Name: list.ejs
    Group 2: 2BeOrNot2Be 
    -->

<%- include ../Partials/header.ejs%>
<%- include ../Partials/main_nav.ejs%>

        <main class="container-fluid">

            <div class="jumbotron bg-light p-5 rounded-lg m-3 container-fluid jum">
                <h1>
                    <%= title %>
                </h1>
                <% if(typeof displayName=='string' && displayName) { %>
                <%let counter =0%>
                <% for(let count=0; count < surveyList.length; count++) { %>
                <% if(surveyList[count].ownedBy == id) { %>
             <%counter++ %>
             <% } %>
             <% } %>

                
                    <br>
                    <br>
                    <% if(counter < 1) { %>
                        <div style="background-color: rgb(165, 164, 164); height: 200px; border-radius: 5px;">
                           <br> 
                           <br>
                        <h2 style="text-align: center;">You don't have any suverys yet!</h2>
                        <h3 style="text-align: center;">Click "Add a survey" to get started</h3>
                        </div>

                <% } else { %>
                <h2>Your Surveys</h2>
                
                <%let date = new Date();
                console.log(date)%>
                
                

                <table class="table table-bordered table-striped table-hover col-md-6">
                    <!-- Header Row-->
                    <tr>
                        <th class="text-center" scope="col-1">Name</th>
                        <th class="text-center" scope="col-1">Survey Link</th>
                        <% if(typeof displayName=='string' && displayName) { %>
                            <th class="text-center" scope="col-1">Update</th>
                            <th class="text-center" scope="col-1">Results</th>
                            <th class="text-center" scope="col-1">Delete</th>
                            <th class="text-center" scope="col-1">Creation Date</th>
                            <th class="text-center" scope="col-1">Expiry Date</th>
                            <% } %>
                    </tr>

                    
                    <!-- Repeatable Template Row-->
                    <% for(let count=0; count < surveyList.length; count++) { %>
                        <% if(surveyList[count].ownedBy == id && date < surveyList[count].expireAt) { %>
                        <tr>
                            <td class="class text-center col-1">
                                <%= surveyList[count].name %>
                            </td>
                            <td class="class text-center col-1">
                                    <a href="/survey-list/view/<%= surveyList[count].id %>/<%= surveyList[count].type %>/<%= surveyList[count].numQuestions %>"
                                        style="font-family: Verdana, Geneva, Tahoma, sans-serif;"
                                        class="btn btn-outline-primary btn-sm"><i class="far fa-eye"></i>
                                        <b>View Survey</b></a>

                            <% if(typeof displayName=='string' && displayName) { %>
                                <td class="text-center col-1">
                                    <a href="/survey-list/edit/<%= surveyList[count].id %>/"
                                        style="font-family: Verdana, Geneva, Tahoma, sans-serif;"
                                        class="btn btn-outline-warning btn-sm"><i class="fas fa-pencil-alt"></i>
                                        <b>Update</b></a>
                                </td>
                                <td class="text-center col-1">
                                    <a href="/survey-list/results/<%= surveyList[count].id %>/<%= surveyList[count].numQuestions %>"
                                        class="btn btn-outline-success btn-sm" id="success"><i class="fas fa-check"> <span
                                                style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                                                Results</span></i></a>
                                </td>
                                <td class="text-center col-1">
                                    <a href="/survey-list/delete/<%= surveyList[count].id %>"
                                        class="btn btn-outline-danger btn-sm" id="danger"><i class="fas fa-trash-alt"> <span
                                                style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                                                Delete</span></i></a>
                                </td>
                                <td class="text-center col-1">
                                    <% let create = surveyList[count].createdAt%>
                                    <%let createF = create.toString()%>
                                    <%=createF.substring(0,21)%>
                                </td>
                                <td class="text-center col-1">
                                    <% let date = surveyList[count].expireAt%>
                                    <%let dateF = date.toString()%>
                                    <%=dateF.substring(0,21)%>
                                </td>
                                    <% } %>
                                <% } %>
                        </tr>

                        <% } %>
                </table>
                <% } %>
                 <% } %>

                <% if(typeof displayName=='string' && displayName) { %>
                    <br>
                    <br>
                    <a href="/survey-list/add" style="font-family: Verdana, Geneva, Tahoma, sans-serif;"
                        class="btn btn-primary" role="button" id="addsurvey"><i class="fas fa fa-plus-circle"></i>
                        <b>Add a Survery</b></a>
                        <br>
                        <br>
                    <% } %>
                
                <% if(typeof displayName=='string' && displayName) { %>
                    <br>
                    <h2>All Surveys</h2>
                    <% } %>
                <table class="table table-bordered table-striped table-hover col-md-7">
                    <!-- Header Row-->
                    <tr>
                        <th class="text-center" scope="col-3">Name</th>
                        <th class="text-center" scope="col-3">Survey Link</th>
                        <th class="text-center" scope="col-1">Expiry Date</th>
                        
                    </tr>
                     <%let date = new Date();
                console.log(date)%>

                    <!-- Repeatable Template Row-->
                    <% for(let count=0; count < surveyList.length; count++) { %>
                        <% if(typeof displayName=='string' && displayName) { %>
                        <% if(surveyList[count].ownedBy != id && date < surveyList[count].expireAt) { %>
                        <tr>
                            <td class="class text-center col-1">
                                <%= surveyList[count].name %>
                            </td>
                            <td class="class text-center col-1">
                                    <a href="/survey-list/view/<%= surveyList[count].id %>/<%= surveyList[count].type %>/<%= surveyList[count].numQuestions %>"
                                        style="font-family: Verdana, Geneva, Tahoma, sans-serif;"
                                        class="btn btn-outline-primary btn-sm"><i class="far fa-eye"></i>
                                        <b>View Survey</b></a></td>
                                        <td class="text-center col-1">
                                            <% let date = surveyList[count].expireAt%>
                                            <%let dateF = date.toString()%>
                                            <%=dateF.substring(0,21)%>
                                        </td>
                        </tr>

                        <% } %>
                        <% } %>
                        <% } %>
                        <% if(!displayName ) { %>
                          <% for(let count=0; count < surveyList.length; count++) { %>
                          <%if( date < surveyList[count].expireAt) {%>
                        <tr>
                            <td class="class text-center col-3">
                                <%= surveyList[count].name %>
                            </td>
                            <td class="class text-center col-3">
                                    <a href="/survey-list/view/<%= surveyList[count].id %>/<%= surveyList[count].type %>/<%= surveyList[count].numQuestions %>"
                                        style="font-family: Verdana, Geneva, Tahoma, sans-serif;"
                                        class="btn btn-outline-primary btn-sm"><i class="far fa-eye"></i>
                                        <b>View Survey</b></a>
                                        </td>
                                        <td class="text-center col-1">
                                            <% let date = surveyList[count].expireAt%>
                                            <%let dateF = date.toString()%>
                                            <%=dateF.substring(0,21)%>
                                        </td>
                                  <% } %>  
                        </tr>
                        <% } %>
                        <% } %>
                </table>
                
               <br>
               <br>
            </div>

            </div>

            <%- include ../Partials/bottom_nav.ejs%>

                <%- include ../Partials/footer.ejs%>