    <!--
    File Name: edit.ejs
    Group 2: 2BeOrNot2Be 
    -->
    

<%- include ../Partials/header.ejs%>
<%- include ../Partials/main_nav.ejs%>

<main class="container">
<!--Message Area-->
<div class="jumbotron bg-light p-5 rounded-lg m-3 container-fluid">
<div class="row">
    <div class="offset-md-4 col-md-4">
        <h1><%= title %></h1>
        <form class="form"  method="POST">
        <div class="form-group">

            <fieldset class="form-group">
                <label for="username">Username: </label>
                <input type="text" class="form-control"
                name="username" placeholder="Enter Username" id="username" value="<%= user.username%>">
            </fieldset>

            <div>
            <span id="usernameError"></span>
            </div>

            <fieldset class="form-group">
                <label for="name">Display Name: </label>
                <input type="text" class="form-control"
                name="name" placeholder="Enter display Name"
                 value="<%= user.displayName%>" id="name">
            </fieldset>

            <div>
            <span id="nameError"></span>
            </div>

           <fieldset class="form-group">
                <label for="email">Email: </label>
                <input type="email" class="form-control"
                name="email" placeholder="Enter Email Address"
                id="email" value="<%=user.email%>">
            </fieldset>

            <div>
            <span id="emailError"></span>
            </div>

            <br>
            <br>
            <fieldset class="form-group text-right">
                <input type="submit" class="btn btn-success" value="Update" id="updateBut">
                <a href="/">
                <input type="button" class="btn btn-warning" value="Cancel"></a>
            </fieldset>

        </form>
    </div>
    </div>
</div>
</main>
<%- include ../Partials/bottom_nav.ejs%>  
<%- include ../Partials/footer.ejs%>  
<script src="/Scripts/editUser.js"></script>